.container {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 750px;
}

.header {
  border-bottom: 1px solid white;
  &__brand {
    margin-left: 25px;
    font-weight: 400;
    letter-spacing: 2px;
  }
}

li {
  list-style: none;
}

.button {
  background: rgb(48, 48, 236);
  border: 0;
  outline: 0;
  padding: 10px;
  color: white;
  cursor: pointer;
}
